.footer {
  background-color: var(--Dark-moderate-cyan-footer);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
}

.footer__logo {
  min-width: 160px;
  margin: 0 auto;
}

.footer__nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__nav ul li {
  list-style-type: none;
}

.footer__nav ul li a {
  font-size: 1.1rem;
  color: var(--Dark-desaturated-cyan);
  text-decoration: none;
  transition: 0.4s ease;
}

.footer__nav ul li a:hover {
  color: #fff;
  transition: 0.4s ease;
}

.footer__social {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-icon {
  transition: 0.5s ease;
}

.social-icon:hover {
  filter: saturate(800);
  transform: translateY(-4px);
  transition: 0.5s ease;
}
