.orange {
  position: relative;
  min-height: 90vh;
  background-image: url("../assets/mobile/image-photography.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--Dark-blue-photography-text);
}

.orange__info {
  position: absolute;
  bottom: 50px;
}

.orange__title {
  margin-bottom: 1.8rem;
  font-size: 1.9rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
}

.orange__text {
  padding: 0 1rem;
  line-height: 1.5;
}
