:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --blue: hsl(200, 100%, 62%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue-photography-text: hsl(198, 62%, 26%);

  --Dark-moderate-cyan-footer: hsl(168, 34%, 55%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
